@import "settings";


.hubdb-gmap {

}




.hubdb-gmap--liner {
  position: relative;
  overflow: hidden;
  height: 420px;
  background: darken($white, 5%);
}

#hubdb-gmap-target {
  position: absolute;
  top:0; left:0;
  width: 100%; height: 100%;
}



@media (min-width:$bp-lg) {

  
  .hubdb-gmap--liner {
    height: 0;
    padding-bottom: 65.5%;
  }

}


@media (min-width:$bp-xl) {
  
  .hubdb-gmap--liner {
    height: 0;
    padding-bottom: 62.5%;
  }

}


@media (min-width:$bp-xxl) {
  
  .hubdb-gmap--liner {
    height: 0;
    padding-bottom: 59.5%;
  }
  
}