
@import "settings";

.hubdb-searchbar {
  padding: 1em;
  border-bottom: 1px solid darken($white, 10%);
}

.hubdb-searchbar--liner {
  
}

.hubdb-searchform {
  display: flex;
  flex-direction: column;
}

.hubdb-searchbar--col {
  margin-bottom: 1em;
  @include clearfix();

  &:last-of-type {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 2.75;

    min-width: 100px;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    border: 1px solid darken($white, 20%);
    border-right: none;
  }

  input[type="text"], select {
    width: calc(100% - 100px);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid darken($white, 20%);
  }
}





.hubdb-searchbtn {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;

  &[disabled] {
    cursor: not-allowed;
  }
}




@media (min-width: $bp-md) {

  .hubdb-searchform {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hubdb-searchbar--col {
    margin-bottom: 0;
  }
  
  // .hubdb-searchbar--col {
  //   width: 33.3333%;
  //   float: left;
  // }


}




@media (min-width:$bp-xl) {
  
  .hubdb-searchbar--col {
    select {
      width: 110px;
    }
  }
  
  .hubdb-searchbtn {
    padding-right: 35px;
    padding-left: 35px;
  }

}




